// Fontes
$fonte: 'Roboto', sans-serif;

// Cores
$cor-primaria: #1C315E;
$cor-secundaria: #227C70;
$cor-terciaria: #88A47C;
$cor-quartearia: #E6E2C3;

//Tamanho das fontes
$tamanho-do-texto: 3rem;